# Dependencies
node_modules/

# Environment variables
.env
.env*.local

# Production build & cache
dist/
.output/
.tanstack-start/
.content-collections/

# Local Netlify & Vercel folders
.netlify/
.vercel/

